<!DOCTYPE html>
<html ng-app="myApp" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyConcordiaID</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    
    <!--BOWER COMPONENTS -->
    <link rel="stylesheet" href="~/lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="~/lib/html5-boilerplate/dist/css/main.css">
    <script src="~/lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/angular-bootstrap/ui-bootstrap-csp.css">
    <script src="~/lib/angular-css/angular-css.js"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <script class="cssdeck" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/angular-hamburger-toggle/dist/angular-hamburger-toggle.css">
    <script src="~/lib/angular-hamburger-toggle/dist/angular-hamburger-toggle.js"></script>

    <!--Date picker-->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

     <!--APP-->
    <script src="~/app/app.js"></script>
    <link rel="stylesheet" href="~/app/utilities.css">
    <link rel="stylesheet" href="~/app/app.css">
    <link rel="stylesheet" href="~/partials/loginProvider/loginProvider.css">

    <!--CONTROLLERS-->
    <script src="~/partials/review/sideNav/sideNav.controller.js"></script>
    <script src="~/partials/review/modals/modals.controller.js"></script>
    <script src="~/partials/review/search/search.controller.js"></script>
    <script src="~/partials/admin/admin.controller.js"></script>

    <!--FACTORIES & SERVICES-->
    <script src="~/factories/studentService.js"></script>
    <script src="~/factories/searchParsingService.js"></script>

</head>
<body>
    @RenderBody()

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
