
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <div id="mySidenav" class="sidenav">
        <!--<a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>-->
        <a ng-click="sideNav.toggleNav()"></a>
        <form asp-controller="Account" asp-action="LogOff" method="post">
            <button id="logoff" type="submit">Logout</button>
            <a href="#!/review" ng-click="sideNav.closeNav()">Review</a>
        </form>
    </div>

    <div id="main" class="row">
        <div id="sideMenuStatic" class="mainComponent">
            <hamburger-toggle id="hamburger" ng-click="sideNav.toggleNav()" state="sideNav.hamState"></hamburger-toggle>
            <form asp-controller="Account" asp-action="LogOff" method="post">
                <button id="logoffIcon" type="submit"></button>
                <a id="goToReviewIcon" href="#!/review" ng-click="sideNav.closeNav()"></a>
                <a  href="#!/admin" ng-click="sideNav.closeNav()">Admin</a>

            </form>
        </div>

        <div id="ng-view" class="mainComponent" ng-view></div>


    </div>
}
else
{
    @await Html.PartialAsync("_LoginProvider")
}
