
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div ng-include="'partials/review/sideNav/sideNav.html'"></div>

<div id="main" class="row">
    <div id="sideMenuStatic" class="mainComponent">
        <div>
            <hamburger-toggle id="hamburger" ng-click="toggleNav()" state="hamState"></hamburger-toggle>
            @if (SignInManager.IsSignedIn(User))
            {
                <a id="logoffIcon" href="#!/login" ng-click="closeNav()"></a>
                <a id="goToReviewIcon" href="#!/view1" ng-click="closeNav()"></a>
            }
            else
            {
                <a id="loginIcon" asp-area="" asp-controller="Account" asp-action="Login"></a>
            }
        </div>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div id="ng-view" class="mainComponent" ng-view></div>
    }
    else
    {
        <div ng-include="'partials/login/login.html'"></div>
    }
</div>