#searchResults {
  width: 100%;
  list-style: none;
  background-color: white;
  box-shadow: 1px 1px 0 #6A6A6A, 2px 2px 0 #6A6A6A, 3px 3px 0 #6A6A6A, 4px 4px 0 #6A6A6A, 5px 5px 0 #6A6A6A, 6px 6px 0 #6A6A6A, 7px 7px 0 #6A6A6A; }
  #searchResults ul {
    padding: 0px;
    margin: 10px 0px 10px 0px; }

