
#searchResults {
    width: 100%;
    list-style: none;

    ul {
        position:relative;
        height: 46px;
        padding: 0px;
        margin: 20px 0px 10px 0px;
        background-color: white;
        border: 0.25em solid #6A6A6A;
        box-shadow: 1px 1px 0 #323232, 2px 2px 0 #323232, 3px 3px 0 #323232, 4px 4px 0 #323232, 5px 5px 0 #323232, 6px 6px 0 #323232, 7px 7px 0 #323232;

        &:hover {
            top:3px;
            left:3px;
            box-shadow: 0.7px 0.7px 0 #323232, 1.4px 1.4px 0 #323232, 2.1px 2.1px 0 #323232, 2.8px 2.8px 0 #323232, 3.5px 3.5px 0 #323232, 4.2px 4.2px 0 #323232, 4.9px 4.9px 0 #323232;
        }
    }
}
