<div ng-controller="EventController as event" >

    <div id="fpEvent" full-page options="event.fpOptions" controls="event.fpControls" allowScrolling=false>
        <div class="section">
            <div class="slide">
                <div class="full-height sleekScrollable side-padding-xl overflow-y-auto">
                    <div class="page-header">
                        <h1>Your Events</h1>
                    </div>

                    <div id="createEventButton" class="height-standard">
                        <button ng-click="event.fpControls.slideDown()" class="button3D purple col-xs-12 textLeft">Create a new event</button>
                    </div>
                    <div class="top-buffer-sm bottom-buffer-xl" ng-if="event.events.length > 0">
                        <ul class="listResults">
                            <li class="top-buffer-sm height-standard" ng-class="{'expanded': result.expanded}" ng-repeat="result in event.events track by $index" >
                                <div class="height-standard">
                                    <button class="button3D textLeft col-xs-12" ng-click="result.expanded = !result.expanded">
                                        <span>{{result.name}},</span>

                                        <span>{{result.timeBegin | date}},</span>

                                        <span>{{result.room}},</span>
                                    </button>
                                </div>
                                <div ng-show="result.expanded" class="height-standard top-buffer-sm bottom-buffer-sm">
                                    <button ng-click="event.modify(result); event.fpControls.slideDown();" class="button3D purple buttonSmallFormat">Modify</button>
                                    <button ng-click="event.openEventModal(result)" class="button3D purple side-buffer-sm buttonSmallFormat">View details</button>
                                    <button ng-click="event.checkAttendees(result); event.fpControls.slideRight();" class="button3D purple buttonSmallFormat">Attendees</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="full-height sleekScrollable side-padding-xl overflow-y-auto">
                    <div class="page-header">
                        <h1>Event Attendees</h1>
                    </div>
                    <ul class="listResults">
                        <li class="top-buffer-sm height-standard" ng-repeat="attendee in event.attendees track by $index">
                            <div class="height-standard">
                                <button class="button3D textLeft col-xs-12" ng-click="event.openAttendeeModal(result)">
                                    <span>{{attendee.studentAccount.firstName}} </span>
                                    <span>{{attendee.studentAccount.lastName}}</span>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <button ng-click="event.fpControls.slideLeft()" class="button3D purple buttonSmallFormat top-buffer-sm">Go Back</button>
                </div>
            </div>
        </div>
        <div class="section side-padding-xl">

            <div class="page-header">
                <h1>Event name</h1>
            </div>

            <div>
                <h4>Give your new event a meaningful name</span>

                </h4>
            </div>

            <input ng-model="event.creating.name" class="col-xs-12 border-dotted height-standard top-buffer side-padding-xs" type="text">

            <button ng-click="event.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-click="event.fpControls.slideDown()" ng-disabled="!event.creating.name"  ng-class="{'inactive': !event.creating.name}" class="button3D buttonSmallFormat side-buffer top-buffer">Next step</button>




        </div>
        <div class="section side-padding-xl">

            <div class="page-header">
                <h1>Location</h1>
            </div>

            <div>
                <h4>Where will your event happen?</span>

                </h4>
            </div>
            <input ng-model="event.creating.location" class="col-xs-12 border-dotted height-standard top-buffer side-padding-xs" type="text">

            <button ng-click="event.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-click="event.fpControls.slideDown()" ng-disabled="!event.creating.location" ng-class="{'inactive': !event.creating.location}" class="button3D buttonSmallFormat side-buffer top-buffer">Next step</button>




        </div>
        <div class="section side-padding-xl">

            <div class="page-header">
                <h1>Room</h1>
            </div>

            <div>
                <h4>In what room will your event take place?</span>

                </h4>
            </div>
            <input ng-model="event.creating.room" class="col-xs-12 border-dotted height-standard top-buffer side-padding-xs" type="text">

            <button ng-click="event.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-click="event.fpControls.slideDown()" ng-disabled="!event.creating.room"  ng-class="{'inactive': !event.creating.room}" class="button3D buttonSmallFormat side-buffer top-buffer">Next step</button>




        </div>

        <div class="section side-padding-xl">

            <div class="page-header">
                <h1>Event description</h1>
            </div>

            <div>
                <h4>What are the details of your new event?</span>

                </h4>
            </div>
            <textarea ng-model="event.creating.description" class="col-xs-12 border-dotted height-xl top-buffer all-side-padding-xs"></textarea>

            <button ng-click="event.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-click="event.fpControls.slideDown()" ng-disabled="!event.creating.description"  ng-class="{'inactive': !event.creating.description}" class="button3D buttonSmallFormat side-buffer top-buffer">Next step</button>

        </div>
        <div class="section side-padding-xl">

            <div class="page-header">
                <h1>Start date</h1>
            </div>

            <div>
                <h4>Choose the start date for which the students will be able to send new profile picture for approval

                </h4>
            </div>

            <div class="col-xs-12 top-buffer">
                <input type="text"
                       class="form-control date border-dotted height-standard side-padding-xs"
                       id="dateFrom"
                       placeholder="From"
                       ng-click="event.dateFrom=true"
                       datepicker-popup="{{event.format}}"
                       ng-model="event.creating.timeBegin"
                       is-open="event.dateFrom"
                       datepicker-options="event.dateOptions"
                       date-disabled="disabled(date, mode)"
                       ng-required="true"
                       close-text="Close">
            </div>
            <button ng-click="event.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-click="event.fpControls.slideDown()" ng-disabled="!event.creating.timeBegin" ng-class="{'inactive': !event.creating.timeBegin}" class="button3D buttonSmallFormat top-buffer side-buffer">Next step</button>
        </div>
        <div class="section side-padding-xl">

            <div class="page-header">
                <h1>End date</h1>
            </div>

            <div>
                <h4>Choose the end date for which the students will be able to send new profile picture for approval

                </h4>
            </div>

            <div class="col-xs-12 top-buffer">
                <input type="text"
                       class="form-control date border-dotted height-standard side-padding-xs"
                       id="dateTo"
                       placeholder="To"
                       ng-click="event.dateTo=true"
                       datepicker-popup="{{event.format}}"
                       ng-model="event.creating.timeEnd"
                       is-open="event.dateTo"
                       datepicker-options="event.dateOptions"
                       date-disabled="disabled(date, mode)"
                       ng-required="true"
                       close-text="Close">
            </div>
            <button ng-click="event.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-disabled="!event.creating.timeEnd" ng-click="event.submit()"  ng-class="{'inactive': !event.creating.timeEnd}" class="button3D buttonSmallFormat top-buffer side-buffer">Submit</button>
        </div>
    </div>

</div>

