<div ng-controller="EventController as eventTab" >

    <div id="fpEvent" full-page options="eventTab.fpOptions" controls="eventTab.fpControls" allowScrolling=false>
        <div class="section">
            <div class="slide">
                <div class="full-height sleekScrollable side-padding-xl overflow-y-auto">
                    <div class="page-header">
                        <h1 translate>PARTIALS.EVENT.EVENT.HEADER</h1>
                    </div>

                    <div>
                        <md-chips ng-model="eventTab.filters" readonly="eventTab.readonly" md-removable="eventTab.removable">
                            <md-chip-template  ng-class="{'selectedChip': $chip.value == eventTab.currentFilter}">
                                <div class="no-outline" ng-click="eventTab.setFilter($chip.value)">
                                <span> <strong translate>{{$chip.translated}}</strong> </span>
                                </div>
                            </md-chip-template>
                        </md-chips>
                    </div>

                    <div id="createEventButton" class="height-standard">
                        <button ng-click="eventTab.fpControls.slideDown()" class="button3D purple col-xs-12 textLeft">Create a new event</button>
                    </div>
                    <div class="top-buffer-sm bottom-buffer-xl" ng-if="eventTab.events.length > 0">
                        <ul class="listResults">
                            <li ng-if="eventTab.isFilterTarget(result)" class="top-buffer-sm height-standard" ng-class="{'expanded': result.expanded}" ng-repeat="result in eventTab.events track by $index" >
                                <div class="height-standard">
                                    <button class="button3D textLeft col-xs-12" ng-click="result.expanded = !result.expanded">
                                        <span>{{result.information.name}},</span>

                                        <span>{{result.information.timeBegin | date}},</span>

                                        <span>{{result.information.room}}</span>
                                    </button>
                                </div>
                                <div ng-show="result.expanded" class="height-standard top-buffer-sm bottom-buffer-sm">
                                    <button ng-click="eventTab.modify(result); eventTab.fpControls.slideDown();" class="button3D purple buttonSmallFormat">Modify</button>
                                    <button ng-click="eventTab.openEventModal(result)" class="button3D purple side-buffer-sm buttonSmallFormat">View details</button>
                                    <button ng-click="eventTab.checkAttendees(result); eventTab.fpControls.slideRight(); eventTab.selectThisEvent(result);" class="button3D purple buttonSmallFormat">Attendees</button>
                                    <button ng-click="eventTab.cancel(result)" class="button3D purple left-buffer-sm buttonSmallFormat">Delete</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="full-height sleekScrollable side-padding-xl overflow-y-auto">
                    <div class="page-header">
                        <h1>{{eventTab.selectedEvent.information.name}}</h1>
                        <a ng-click="eventTab.localize('en')">En</a>
                        <a ng-click="eventTab.localize('fr')">FR</a>
                    </div>
                    <div class="searchBoxContainer bottom-buffer">
                        <div class="field" code="13" kb-press="eventTab.addUser()" >
                            <input type="text" code="13" kb-press="eventTab.addUser()" ng-model="eventTab.newUserNetnameOrId" placeholder="User's netname or ID" />
                            <button ng-click="eventTab.addUser()" type="button">Add Attendee!</button>
                        </div>
                    </div>
                    <ul class="listResults top-buffer">
                        <li class="top-buffer-sm height-standard" ng-repeat="attendee in eventTab.attendees track by $index">
                            <div class="height-standard">
                                <button class="button3D textLeft col-xs-12" ng-click="eventTab.openAttendeeDialog(attendee)">
                                    <span>{{attendee.studentAccount.firstName}} </span>
                                    <span>{{attendee.studentAccount.lastName}}</span>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <button ng-click="eventTab.fpControls.slideLeft(); eventTab.attendees = [];" class="button3D purple buttonSmallFormat top-buffer-sm">Go Back</button>
                    <button ng-click="eventTab.fpControls.slideRight(); eventTab.updateStatistics();" class="button3D purple buttonSmallFormat all-side-margin-sm">Statistics</button>
                </div>
            </div>
            <div class="slide">
                <div class="full-height sleekScrollable side-padding-xl overflow-y-auto">

                    <div class="page-header">
                        <h1>{{eventTab.selectedEvent.information.name}}</h1>
                    </div>
                    <div id="stats" class="top-buffer">
                        <fusioncharts
                                width="400"
                                height="300"
                                type="column2d"
                                datasource="{{eventTab.stats}}">

                        </fusioncharts>
                    </div>
                    <div ng-if="eventTab.selectedEvent.information.type == 'Closed'" class="top-buffer">
                        <fusioncharts
                            width="400"
                            height="400"
                            type="pie3d"
                            datasource="{{eventTab.pie}}"
                    ></fusioncharts></div>
                    <button ng-click="eventTab.fpControls.slideLeft()" class="button3D purple buttonSmallFormat top-buffer-sm">Go Back</button>
                </div>
            </div>
        </div>

        <div class="section">

            <div class="page-header">
                <h1>Event Type</h1>
            </div>

            <div>
                <h4>
                    Is this an open or closed event?
                </h4>
            </div>

            <md-input-container class="col-xs-12 border-dotted height-standard top-buffer side-padding-xs">
                <label>Event Type</label>
                <md-select ng-model="eventTab.creating.type">
                    <md-option value="{{eventType}}" ng-repeat="eventType in eventTab.eventTypes">{{eventType}}</md-option>
                </md-select>
            </md-input-container>

            <button ng-click="eventTab.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-click="eventTab.fpControls.slideDown()" ng-disabled="!eventTab.creating.type"  ng-class="{'inactive': !eventTab.creating.type}" class="button3D buttonSmallFormat side-buffer top-buffer">Next step</button>

        </div>
        <div class="section">

            <div class="page-header">
                <h1>Event name</h1>
            </div>

            <div>
                <h4>Give your new event a meaningful name

                </h4>
            </div>

            <input ng-model="eventTab.creating.name" class="col-xs-12 border-dotted height-standard top-buffer side-padding-xs" type="text">

            <button ng-click="eventTab.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-click="eventTab.fpControls.slideDown()" ng-disabled="!eventTab.creating.name"  ng-class="{'inactive': !eventTab.creating.name}" class="button3D buttonSmallFormat side-buffer top-buffer">Next step</button>




        </div>
        <div class="section">

            <div class="page-header">
                <h1>Location</h1>
            </div>

            <div>
                <h4>Where will your event happen?

                </h4>
            </div>
            <input ng-model="eventTab.creating.location" class="col-xs-12 border-dotted height-standard top-buffer side-padding-xs" type="text">

            <button ng-click="eventTab.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-click="eventTab.fpControls.slideDown()" ng-disabled="!eventTab.creating.location" ng-class="{'inactive': !eventTab.creating.location}" class="button3D buttonSmallFormat side-buffer top-buffer">Next step</button>




        </div>
        <div class="section">

            <div class="page-header">
                <h1>Room</h1>
            </div>

            <div>
                <h4>In what room will your event take place?

                </h4>
            </div>
            <input ng-model="eventTab.creating.room" class="col-xs-12 border-dotted height-standard top-buffer side-padding-xs" type="text">

            <button ng-click="eventTab.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-click="eventTab.fpControls.slideDown()" ng-disabled="!eventTab.creating.room"  ng-class="{'inactive': !eventTab.creating.room}" class="button3D buttonSmallFormat side-buffer top-buffer">Next step</button>




        </div>

        <div class="section">

            <div class="page-header">
                <h1>Event description</h1>
            </div>

            <div>
                <h4>What are the details of your new event?

                </h4>
            </div>
            <textarea ng-model="eventTab.creating.description" class="col-xs-12 border-dotted height-xl top-buffer all-side-padding-xs"></textarea>

            <button ng-click="eventTab.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-click="eventTab.fpControls.slideDown()" ng-disabled="!eventTab.creating.description"  ng-class="{'inactive': !eventTab.creating.description}" class="button3D buttonSmallFormat side-buffer top-buffer">Next step</button>

        </div>
        <div class="section">

            <div class="page-header">
                <h1>Start date</h1>
            </div>

            <div>
                <h4>Choose the start date for which the students will be able to send new profile picture for approval

                </h4>
            </div>

            <div class="col-xs-12 top-buffer">
                <input type="text"
                       placeholder="From"
                       class="form-control date border-dotted height-standard side-padding-xs"
                       datetime-picker="MM/dd/yyyy HH:mm"
                       ng-model="eventTab.creating.timeBegin"
                       ng-click="eventTab.openTimeBegin = true"
                       is-open="eventTab.openTimeBegin">

            </div>
            <button ng-click="eventTab.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-click="eventTab.fpControls.slideDown()" ng-disabled="!eventTab.creating.timeBegin" ng-class="{'inactive': !eventTab.creating.timeBegin}" class="button3D buttonSmallFormat top-buffer side-buffer">Next step</button>
        </div>
        <div class="section">

            <div class="page-header">
                <h1>End date</h1>
            </div>

            <div>
                <h4>Choose the end date for which the students will be able to send new profile picture for approval

                </h4>
            </div>

            <div class="col-xs-12 top-buffer">
                <input type="text"
                       placeholder="To"
                       class="form-control date border-dotted height-standard side-padding-xs"
                       datetime-picker="MM/dd/yyyy HH:mm"
                       ng-model="eventTab.creating.timeEnd"
                       ng-click="eventTab.openTimeEnd = true"
                       is-open="eventTab.openTimeEnd">
            </div>
            <button ng-click="eventTab.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button>
            <button ng-disabled="!eventTab.creating.timeEnd" ng-click="eventTab.submit()"  ng-class="{'inactive': !eventTab.creating.timeEnd}" class="button3D buttonSmallFormat top-buffer side-buffer">Submit</button>
        </div>
    </div>

</div>

