#viewport {
  height: 100%; }
  #viewport #invalid, #viewport #valid {
    height: 100%; }
  #viewport #invalid {
    background-color: #FCB9B8; }
  #viewport #valid {
    background-color: #D3F0D2; }
