
<div id="gallery" ng-controller="GalleryCtrl as gallery">


    <div class="thumbsshell">
        <div class="thumbswrapper">
            <ul>
                <!--    Iterate through all images and display them end to end as thumbs -->
                <li ng-repeat="image in gallery.images track by $index">
                    <div class="thumbwrapper">
                        <a ng-href="" ng-click="gallery.setFullscreen(image)" data-toggle="modal" data-target="#imageModal">
                            <img class="thumbnail" ng-src="data:image/JPEG;base64,{{image}}"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>