<!DOCTYPE html>
<html ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--BOWER COMPONENTS -->
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <script src="bower_components/angular-css/angular-css.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script class="cssdeck" src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/angular-hamburger-toggle/dist/angular-hamburger-toggle.css">
  <script src="bower_components/angular-hamburger-toggle/dist/angular-hamburger-toggle.js"></script>

  <!--Date picker-->
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

  <!--APP-->
  <script src="app.js"></script>
  <link rel="stylesheet" href="utilities.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="partials/loginProvider/loginProvider.css">

  <!--CONTROLLERS-->
  <script src="partials/review/sideNav/sideNav.controller.js"></script>
  <script src="partials/review/modals/modals.controller.js"></script>
  <script src="partials/review/search/search.controller.js"></script>
  <script src="partials/admin/admin.controller.js"></script>

  <!--FACTORIES & SERVICES-->
  <script src="factories/studentService.js"></script>
  <script src="factories/searchParsingService.js"></script>

</head>
<body>

<div id="sideMenuContainer" ng-controller="SideNavCtrl as sideNav">
  <div id="mySidenav" class="sidenav">
    <a ng-click="sideNav.toggleNav()"></a>
    <form asp-controller="Account" asp-action="LogOff" method="post">
      <button id="logoff" type="submit">Logout</button>
      <a href="#!/review" ng-click="sideNav.closeNav()">Review</a>
    </form>
  </div>

  <div id="sideMenuStatic" class="mainComponent">
    <hamburger-toggle id="hamburger" ng-click="sideNav.toggleNav()" state="sideNav.hamState"></hamburger-toggle>
    <form asp-controller="Account" asp-action="LogOff" method="post">
      <button id="logoffIcon" type="submit"></button>
      <a id="goToReviewIcon" href="#!/review" ng-click="sideNav.closeNav()"></a>
      <a href="#!/admin" ng-click="sideNav.closeNav()">Admin</a>

    </form>
  </div>
</div>

<div id="main" class="row">


  <div id="ng-view" class="mainComponent" ng-view></div>


</div>

</body>
</html>
