MyConcordiaID/.vs/
MyConcordiaID/src/MyConcordiaID/obj/
MyConcordiaID/src/MyConcordiaID/bin/
/packages/
!packages/repositories.config
MyConcordiaID/OracleEntityFramework/obj/
MyConcordiaID/OracleEntityFramework/bin/
MyConcordiaID/packages/
MyConcordiaID/src/MyConcordiaID/wwwroot/lib/
MyConcordiaID/.idea/
MyConcordiaID/src/MyConcordiaID/project.lock.json
