@import "mixins/horizontalCenter";
@import "mixins/verticalCenter";

.center{
  @include center();
}

.verticalCenter{
  @include vertical-align();
}

.atBottom{
  position:absolute;
  bottom:50px;
}

.textCenter{
  text-align:center;
}

.absolutePos{
  position:absolute;
}

.relativePos{
  position:relative;
}

.floatLeft{
  float:left;
}

.floatRight{
  float:right;
}


