@import "sizes";
@import "colors";
@import "fonts";
@import "positioning";

html, body{
  font: 1em 'Montserrat Alternates';

  ul, li {
    list-style:none;
    margin:0;
    padding:0;
  }

}


#main {

  #ng-view {
    overflow: hidden;
  }
}

//fix for custom modals when using angular-bootstrop
.modal-content{
  height:0px;
}
h2{
  margin-top:0px;
}

