$review-icon: '../../images/icons/review-icon.png';
$logoff-icon: '../../images/icons/logoff-icon.png';
$admin-icon: '../../images/icons/settings-icon.png';

$btn-yesno-height: 50px;

$modal-picture-width: 375px;
$modal-picture-width-xl: 450px;

$buffer-xs: 10px;
$buffer-sm: 20px;
$buffer-md: 30px;
$buffer-lg: 40px;
