<div class="validationModal container2D">
    <div ng-if="!attendeeModal.loading" class="side-padding">
        <h2 class="top-padding">
            <span>{{attendeeModal.attendee.studentAccount.firstName}} {{attendeeModal.attendee.studentAccount.lastName}}</span>
        </h2>
        <div>
            netname: <span>{{attendeeModal.attendee.studentAccount.netName}}</span>
        </div>
        <div>
            id: <span>{{attendeeModal.attendee.studentAccount.id}}</span>
        </div>
        <div>
            <md-input-container>
            </md-input-container>
        </div>

    </div>

</div>


