.overseeing{
  height: 100%;
  width: 100%;
  border: solid;
  background-color: #8A0037;
  font-size: 150%;
  font-weight: bold;
}

.main_content{
  /*border: solid;*/
}

.picture{
  /*border: solid;*/
}

.footer{
  /*border: solid;*/
}

.student_info{
  /*border: solid;*/
}

.student_info p{
  text-align: center;
}

.barcode{
  /*border: solid;*/
  padding: 1%;
}

.barcode img{
  height: 100%;
  width: 100%;
}

@media screen and (orientation:portrait){
  h1{
    color: #387ef5;
  }

  .vertical{
    height: 100%;
  }

  .main_content{
    height: 70%;
    width: 100%;
  }

  .picture{
    height: 70%;
  }

  .picture img{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(40%, 20%);
  }

  .student_info{
    height: 30%;
  }


  .footer{
    height: 10%;
  }

  .footer p{
    padding-left: 2%;
  }

  .barcode{
    height: 20%;
  }

}


@media screen and (orientation:landscape){
  .horizontal{
    height: 100%;
  }

  .left{
    height: 100%;
    width: 75%;
    float: left;
  }

  .main_content{
    height: 80%;
  }

  .picture{
    height: 100%;
    width: 45%;
    float: left;
  }

  .student_info{
    height: 100%;
    width: 55%;
    float: left;
    padding-top: 50px;
  }


  .footer{
    height: 20%;
  }

  .footer p{
    padding-left: 2%;
  }

  .barcode{
    height: 100%;
    width: 25%;
    float: left;
  }

  .picture img{
    padding-top: 2%;
    padding-left: 5%;
  }

}
