.overseeing{
  height: 100%;
  width: 100%;
  border: solid;
  background-color: #8A0037;
  font-size: 150%;
  font-weight: bold;
}

.student_info p{
  text-align: center;
}


@media screen and (orientation:portrait){
  h1{
    color: #387ef5;
  }

  .profile{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .vertical{
    height: 100%;
  }

  .profile img{
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  .picture{
    height: 70%;
  }

  .picture img{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(40%, 20%);
  }

  .student_info{
    height: 30%;
  }


  .footer{
    height: 10%;
  }

  .footer p{
    padding-left: 2%;
  }

  .barcodeId{
    padding-top: 5px;
  }

  .card .item-text-wrap.centerText {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .graduateStatus
  {
    /*need to find which class is overwriting this*/
    font-size: 50px!important;
    font-weight: bolder;
    padding: 20px;
  }

  .card.removeMarginTop{
    margin-top: 0;
  }

  .list .card.removeMarginTop{
    margin-top: 0;
  }


}

