.overall{
  height: 100%;
  width: 100%;
  background-color: white;
}

.date{
  font-size: 110%;
}

.marshall{
  font-size: 150%;
  font-weight: bold;
}

.name{
  font-weight: bolder;
  font-size: 200%;
}

@media screen and (orientation:portrait){

  .marshData{
    height: 65%;
    width: 100%;
    padding-top: 5%;
    text-align: center;
    font-size: 120%;
    line-height: 180%;
  }

  .bottom{
    bottom: 0;
    width: 100%;
    position: absolute;
    margin-bottom: 10px;
  }

  .barcodegen{
    display: block;
    margin: auto;
  }


}
