@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_LoginPartial")

<div id="myModal" class="modal fade" role="dialog" ng-include="'partials/searchModal/searchModal.html'"></div>
<div id="imageModal" class="modal fade" role="dialog" ng-include="'partials/searchModal/gallery/imageModal/imageModal.html'"></div>