@{
    ViewData["Title"] = "Home Page";
}

<div id="mySidenav" class="sidenav">
    <!--<a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>-->
    <a ng-click="toggleNav()">Close</a>
    <a href="#!/view1" ng-click="closeNav()">Review</a>
    <a href="#!/login" ng-click="closeNav()">Validate</a>

    @*@await Html.PartialAsync("_LoginPartial")*@
</div>

<div id="myModal" class="modal fade" role="dialog" ng-include="'partials/searchModal/searchModal.html'"></div>
<div id="imageModal" class="modal fade" role="dialog" ng-controller="GalleryCtrl" ng-include="'partials/searchModal/gallery/imageModal/imageModal.html'"></div>

<div id="main" class="row">
    <div id="sideMenuStatic" class="mainComponent">
        <div>
            <hamburger-toggle id="hamburger" ng-click="toggleNav()" state="hamState"></hamburger-toggle>
            <a id="goToReviewIcon" href="#!/view1" ng-click="closeNav()"></a>
            <a id="goToValidateIcon" href="#!/login" ng-click="closeNav()"></a>
        </div>
    </div>

    <div id="ng-view" class="mainComponent" ng-view></div>
</div>

