$main-width: 100px;

@import "../../app/utilities.scss";

#loginProvider{
    
        padding-top:20px;
    font: 1.2em 'Montserrat Alternates';
    h2{
        text-align:center;
    }

    form{
        text-align:center;

        button{
            @include make-button-3d();
            width:100px
        }
    }
}