@import "../variables";

@mixin buildValidationModal($commentBoxHeight, $height) {
  color:white;
  height: $height;

  .cardHolder{
    height: $height;
  }

  .commentBox {
    textarea {
      height: $commentBoxHeight;
      resize: none;
      color:black;
    }
  }

  .yesnoContainer {
    position:relative;
    bottom: $btn-yesno-height + $buffer-md;
  }
}