<div class="validationModal container2D">
    <div ng-if="!eventModal.loading" id="modal-body">
        <div class="cardHolder modal-element col-xs-6">

            <div class="pictureAttributes side-padding text-left">

                <h2 class="top-padding"><span>{{eventModal.event.information.name}}</span>
                </h2>
                <div>
                    <span>{{eventModal.event.information.location}}</span>
                </div>
                <div>
                    <span>{{eventModal.event.information.room}}</span>
                </div>
                <div>
                    <span>{{eventModal.event.information.startDateStamp | date}}</span>
                </div>
                <div>
                    <span>{{eventModal.event.information.endtDateStamp | date}}</span>
                </div>
                <div>
                    <span>{{eventModal.event.information.description}}</span>
                </div>

            </div>

        </div>
        <div class="cardHolder col-xs-6">

            <img class="full-width" ng-if="eventModal.event.profilPicture"
                 ng-src="data:image/JPEG;base64,{{eventModal.event.profilPicture.picturE_DATA}}"/>
            <img class="full-width" ng-if="eventModal.event.profilPicture == null"
                 ng-src="{{eventModal.emptyProfilePicture}}"/>

        </div>

    </div>

</div>

<div id="stats" class="container2D top-buffer">
    <fusioncharts
        width="100%"
        height="400"
        type="column2d"
        datasource="{{eventModal.stats}}">

    </fusioncharts>
</div>

<div id="galleryContainer" ng-if="eventModal.event.previousPictures.length > 0" class="container2D top-buffer"
     ng-include="'partials/review/modals/eventModal/gallery/gallery.html'">
</div>



