@import "variables";

.top-buffer-sm{
  margin-top:$buffer-sm;
}

.no-top-buffer{
  margin-top:0px;
}

.top-buffer{
  margin-top:$buffer-md;
}
.top-buffer-lg{
  margin-top:$buffer-lg;
}
.top-buffer-xl{
  margin-top:$buffer-xl;
}

.side-buffer-sm{
  margin-left: $buffer-sm;
  margin-right: $buffer-sm;
}

.side-buffer{
  margin-left: $buffer-md;
  margin-right: $buffer-md;
}

.bottom-buffer-sm{
  margin-bottom:$buffer-sm;
}

.bottom-buffer{
  margin-bottom:$buffer-md;
}

.all-side-margin-sm{
  margin: $buffer-sm;
}

.left-buffer-sm{
  marin-left:$buffer-sm;
}

.left-buffer-sm{
  marin-left:$buffer-sm;
}
