.top-buffer{
  margin-top:20px;
}

.bottom-buffer{
  margin-bottom:20px;
}

.side-padding{
  padding-left:30px;
  padding-right:30px;
}

.all-side-padding{
  padding:30px;
}

.bottom-padding{
  padding-bottom:30px;
}
