@import "mixins/horizontalCenter";
@import "mixins/verticalCenter";

.center{
  @include center();
}

.verticalCenter{
  @include vertical-align();
}

.atBottom{
  position:absolute;
  bottom:50px;
}

.textCenter{
  text-align:center;
}

.btn-admin-submit-center{
  margin-left: $btn-admin-submit-center;
}

