@import "mixins/fill";
@import "colors";

html, body{
  height: 100%;
  font: 1em 'Montserrat Alternates';

  ul, li {
    list-style:none;
    margin:0;
    padding:0;
  }

}


#main {
  @include fill();

  #ng-view {
    height:100%;
    overflow: hidden;
  }
}