
html, body{
  height: 100%;
  font: 1em 'Montserrat Alternates';

  ul {
    list-style:none;
    margin:0;
    padding:0;

    li {
      margin:0;
      padding:0;
    }

  }

}


#main {
  height:100%;


  .mainComponent {
    height: 100%;
  }
  #ng-view{
    overflow:hidden;
    width:auto;
  }

}