$review-icon: '../../images/icons/review-icon.png';
$logoff-icon: '../../images/icons/logoff-icon.png';

$sidenav-top-margin: 28px;
$sideNav-width: 60px;
$sideNav-icon-size:25px;

$search-result-margin: 8px;

