$review-icon: '../../images/icons/review-icon.png';
$logoff-icon: '../../images/icons/logoff-icon.png';
$admin-icon: '../../images/icons/settings-icon.png';

$btn-yesno-height: 50px;

$modal-picture-width: 400px;
$modal-picture-width-xl: 450px;

$buffer-xs: 10px;
$buffer-sm: 20px;
$buffer-md: 30px;

$radius-xs: 5px;
$radius-sm: 15px;
$radius-md: 25px;
$radius-lg: 35px;

$datepicker-container-margin: 80px;
$datepicker-container-padding: 70px;

$btn-admin-submit-center: 420px;