/* app css stylesheet */
html, body, .ng-scope {
  height: 100%; }
  html #hamburger, body #hamburger, .ng-scope #hamburger {
    position: absolute; }
  html .card, body .card, .ng-scope .card {
    height: 100%; }
  html .sidenav, body .sidenav, .ng-scope .sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    /* The navigation menu links */
    /* When you mouse over the navigation links, change their color */
    /* Position and style the close button (top right corner) */ }
    html .sidenav a, body .sidenav a, .ng-scope .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s; }
    html .sidenav a:hover, html .sidenav .offcanvas a:focus, body .sidenav a:hover, body .sidenav .offcanvas a:focus, .ng-scope .sidenav a:hover, .ng-scope .sidenav .offcanvas a:focus {
      color: #f1f1f1; }
    html .sidenav .closebtn, body .sidenav .closebtn, .ng-scope .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px; }
