<md-dialog>
    <md-dialog-content>
        <div class="validationModal container2D">
            <div ng-if="!attendeeDialog.loading" class="side-padding">
                <h2 class="top-padding">
                    {{attendeeDialog.attendee.studentAccount.firstName}} {{attendeeDialog.attendee.studentAccount.lastName}}
                </h2>
                <div>
                    netname: <span>{{attendeeDialog.attendee.studentAccount.netName}}</span>
                </div>
                <div>
                    id: <span>{{attendeeDialog.attendee.studentAccount.id}}</span>
                </div>
                <div ng-if="!attendeeDialog.userCanModifyRole(attendeeDialog.attendee)">
                    Role: {{attendeeDialog.attendee.role}}
                </div>
                <md-input-container ng-if="attendeeDialog.userCanModifyRole(attendeeDialog.attendee)" class="top-buffer bottom-buffer-xl">
                    <label translate>PARTIALS.EVENT.ATTENDEE.PLACEHOLDER</label>
                    <md-select ng-model="attendeeDialog.attendee.role">
                        <md-option ng-repeat="role in attendeeDialog.listOfSettableRoles"
                                   value="{{role.value}}"
                                   ng-selected="attendeeDialog.attendeeRoleValueTranslationMapping.value == role.value"><span translate>{{role.translated}}</span></md-option>
                    </md-select>
                </md-input-container>
                <div class="top-buffer">
                    <md-button ng-click="attendeeDialog.setNewRole()"
                               ng-if="attendeeDialog.attendeeOriginalRole != attendeeDialog.attendee.role"
                               class="buttonSmallFormat purple button3D">
                        <span translate>PARTIALS.EVENT.ATTENDEE.SETROLE</span>
                    </md-button>
                    <md-button ng-click="attendeeDialog.deleteAttendee()"
                               ng-if="attendeeDialog.userCanModifyRole(attendeeDialog.attendee)"
                               class="buttonSmallFormat purple button3D"><span translate>PARTIALS.EVENT.ATTENDEE.REMOVE</span></md-button>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>



