<div id="myModal" class="modal fade" role="dialog" ng-include="'partials/review/searchModal/searchModal.html'"></div>
<div id="imageModal" class="modal fade" role="dialog" ng-include="'partials/review/imageModal/imageModal.html'"></div>

<div id="viewport" ng-controller="ReviewCtrl">
<div id="invalid" class="col-sm-12">

    <div id="searchBoxContainer" ng-include="'partials/review/searchBox/searchBox.html'"></div>
    <div id="searchResultsContainer" ng-include="'partials/review/searchResults/searchResults.html'"></div>

</div>
</div>
