
@import "../../app/utilities.scss";

#viewport{
    
  height:100%;
  div{
    overflow: auto;
  }

  .view1Component{
      position:relative;
      margin:20px auto 10px auto;
      width:92%;
      font: 1.2em 'Montserrat Alternates';
  }
}