
@import "../../app/utilities.scss";

#viewport.middle{
        top:40%;
    }

#viewport{
  height:100%;
  overflow: auto;

   top:0%;
    position:relative;
    transition: 0.4s ease-out;

  .view1Component{
      position:relative;
      margin:20px auto 10px auto;
      width:92%;
      font: 1.2em 'Montserrat Alternates';
  }
}