$level1-blue: #6696C8;
$level2-blue: #B2CAE4;
$level3-blue: #D8E5F1;

@mixin center(){
  display:block;
  margin-left: auto;
  margin-right: auto;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#viewport{
  height:100%;
  background-color: $level1-blue;
  #cardContainer{
    background-color: $level2-blue;
    width:380px;
    height:480px;
    @include center();
    @include vertical-align();

      #cardHolder{
        width:300px;
        height:400px;
        //background-color: $level3-blue;
        @include center();
        @include vertical-align();

          .ng-swippy{
            @include center();
            :first-child{
             // box-shadow: 5px 5px 5px #888888;
            }

          }
       }
  }

  #noYesContainer{
    position:relative;
    bottom:-50px;
    #noYesHolder {
      width:300px;
      @include center();
      button{
        width:147.7px;
      }
    }
  }
}