@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);
#viewport {
  height: 100%;
  background-color: #6696C8; }
  #viewport #cardContainer {
    background-color: #B2CAE4;
    width: 380px;
    height: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    #viewport #cardContainer #cardHolder {
      width: 300px;
      height: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      #viewport #cardContainer #cardHolder .ng-swippy {
        display: block;
        margin-left: auto;
        margin-right: auto; }
  #viewport #noYesContainer {
    position: relative;
    bottom: -50px; }
    #viewport #noYesContainer #noYesHolder {
      width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      #viewport #noYesContainer #noYesHolder button {
        width: 147.7px; }

.field {
  display: flex;
  position: realtive;
  margin: 5em auto;
  width: 70%;
  flex-direction: row;
  box-shadow: 1px 1px 0 #16a085, 2px 2px 0 #16a085, 3px 3px 0 #16a085, 4px 4px 0 #16a085, 5px 5px 0 #16a085, 6px 6px 0 #16a085, 7px 7px 0 #16a085; }

.field > input[type=text],
.field > button {
  display: block;
  font: 1.2em 'Montserrat Alternates'; }

.field > input[type=text] {
  flex: 1;
  padding: 0.6em;
  border: 0.2em solid #1abc9c; }

.field > button {
  padding: 0.6em 0.8em;
  background-color: #1abc9c;
  color: white;
  border: none; }
