<link rel="stylesheet" type="text/css" href="css/searchModal.css">

<div class="modal-dialog" ng-controller="SearchModalCtrl">

    <!-- Modal content-->
    <div  id="searchModal" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
        </div>
        <div id="modal-body" class="modal-body row">


            <div id="cardContainer" class="modal-element col-sm-6">
                <div id="cardHolder">
                    <ng-swippy collection='ngSwippy.collection' width='100%' height='{{ngSwippy.size.height}}px'
                               item-click='ngSwippy.onClick' data='ngSwippy.showinfo' collection-empty='ngSwippy.swipeend'
                               swipe-left='ngSwippy.swipeLeft'
                               swipe-right='ngSwippy.swipeRight' cards-number='2' label-ok='Yes'
                               label-negative='No'></ng-swippy>

                </div>
                <div id="galleryContainer" ng-include="'partials/searchModal/gallery/gallery.html'"></div>
            </div>


            <div class="modal-element col-sm-6">
                <span>{{student.id}},</span>

                <span>{{student.firstName}}</span>
                <span>{{student.lastName}},</span>

                <span>{{student.netname}},</span>

                <span>{{student.birthdate.day}}</span>
                <span>{{student.birthdate.month}}</span>
                <span>{{student.birthdate.year}}</span>
            </div>


        </div>
        <div class="modal-footer">
            <!--<div id="noYesContainer" class="col-sm-6">
                <button ng-click="swipeLeft" class="btn btn-default">nope</button>
                <button ng-click="swipeRight" class="btn btn-default">yiss</button>
            </div>
            <div class="col-sm-6">-->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!--</div>-->
        </div>
    </div>

</div>

