
<div id="gallery" >
        <div class="thumbswrapper">
            <ul>
                <!--    Iterate through all images and display them end to end as thumbs -->
                <li ng-repeat="image in modals.student.previousPictures track by $index">
                    <div class="thumbwrapper">
                        <a ng-href="" ng-click="modals.enlargeImage(image)" data-toggle="modal" data-target="#imageModalContainer">
                            <img class="thumbnail" ng-src="data:image/JPEG;base64,{{image}}"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
</div>