<div>
<div id="studentModalContainer" class="modal fade" role="dialog" ng-include="'partials/review/modals/studentModal/studentModal.html'"></div>
<div id="imageModalContainer" class="modal fade" role="dialog" ng-include="'partials/review/modals/imageModal/imageModal.html'"></div>
</div>

<div id="viewport" class="container" ng-class="{'middle': search.initialState}" ng-controller="SearchCtrl as search">

    <div><h1 class="header page-header">Student picture review center</h1></div>
    <div id="searchBoxContainer" ng-include="'partials/review/search/searchBox/searchBox.html'"></div>
    <div ng-include="'partials/review/search/searchResults/searchResults.html'"></div>

</div>
