
<div class="modal-dialog" ng-controller="SearchModalCtrl as searchModal">

    <!-- Modal content-->
    <div  id="searchModal" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Validate searchModal.student Picture</h4>
        </div>

        <div class="circularLoading" ng-if="searchModal.loading">
            <md-progress-circular md-mode="indeterminate" value="..."></md-progress-circular>
        </div>

        <div ng-show="!searchModal.loading" id="modal-body" class="modal-body row">
            <div id="cardContainer" class="modal-element col-sm-6">
                <div id="cardHolder">
                    <img ng-src="data:image/JPEG;base64,{{searchModal.pendingPicture}}" />
                    <div class="row">
                        <button ng-click="searchModal.sendValidation(true)" type="button" class="btn btn-default col-sm-6">yes</button>
                        <button ng-click="searchModal.sendValidation(false)" type="button" class="btn btn-default col-sm-6">no</button>
                    </div>
                </div>
                <div id="galleryContainer" ng-include="'partials/review/searchModal/gallery/gallery.html'"></div>
            </div>


            <div class="modal-element col-sm-6">
                <span>{{searchModal.student.id}},</span>

                <span>{{searchModal.student.firstname}}</span>
                <span>{{searchModal.student.lastname}},</span>

                <span>{{searchModal.student.netname}},</span>

                <span>{{searchModal.student.birthdate.day}}</span>
                <span>{{searchModal.student.birthdate.month}}</span>
                <span>{{searchModal.student.birthdate.year}}</span>
            </div>


        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>

