#searchModal {
  background-color: #B2CAE4;
  min-width: 650px; }
  #searchModal .circularLoading {
    height: 100px; }
    #searchModal .circularLoading md-progress-circular {
      display: block;
      margin: auto;
      top: 25%;
      position: relative; }
  #searchModal .modal-element {
    background-color: #B2CAE4; }
    #searchModal .modal-element #galleryContainer {
      max-height: 200px; }
  #searchModal #cardHolder {
    background-color: #D8E5F1; }
    #searchModal #cardHolder img {
      max-width: 100%; }
    #searchModal #cardHolder div {
      margin: auto; }

#noYesContainer button {
  float: left; }

