
@import "../../../../app/utilities.scss";

$level1-blue: #e4e6e9;
$level2-blue: #e4e6e9;
$level3-blue: #e4e6e9;

@mixin center() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#studentModal {
    background-color: $level2-blue;
    min-width: 650px;

    .circularLoading {
        height: 100px;

        md-progress-circular {
            display: block;
            margin: auto;
            top: 25%;
            position: relative;
        }
    }

    .modal-element {
        background-color: $level2-blue;

        #galleryContainer {
            max-height: 200px;
        }
    }

    #cardHolder {
        background-color: $level3-blue;

        img {
            max-width: 100%;
        }

        div {
            margin: auto;
        }
    }
}

#noYesContainer {
    button {
        float: left;
    }
}
