<div ng-controller="AdminController as admin" class="side-padding-xl">

    <div id="fpAdmin" full-page options="admin.fpOptions" controls="admin.fpControls">
        <div class="section section1">

            <div class="page-header">
                <h1>Update period</h1>
            </div>

            <div>
                <h4>Currently set to: <span ng-if="!admin.loading">{{admin.currentUpdatePeriod}}</span>

                </h4>
            </div>

            <button ng-click="admin.fpControls.slideDown()" class="button3D buttonSmallFormat top-buffer">Modify</button>




        </div>
        <div class="section">

            <div class="page-header">
                <h1>Year</h1>
            </div>

            <div>
                <h4>Choose the year for which the students will be able to send new profile picture for approval

                </h4>
            </div>

            <div class="top-buffer col-xs-12"
                    tooltips tooltip-template="Required"
                    tooltips tooltip-side="top"
                    tooltips tooltip-hidden="{{admin.yearEntered}}">
                <select class="col-xs-12 border-dotted height-standard bottom-buffer side-padding-xs"
                        id="AcademicYearDropDown"
                        ng-model="admin.academicYear"
                        ng-click="admin.setYearEntered()">
                    <option value="" selected disabled>Academic year</option>
                    <option ng-repeat="academicYearOption in admin.academicYearOptions" value="{{academicYearOption}}">{{academicYearOption}}</option>
                </select>
            </div>

            <button ng-click="admin.fpControls.slideUp()" class="button3D buttonSmallFormat">Back</button> <button ng-click="admin.academicYear && admin.fpControls.slideDown()"  ng-class="{'inactive': !admin.academicYear}" class="button3D buttonSmallFormat side-buffer">Next step</button>

        </div>
        <div class="section section2">

            <div class="page-header">
                <h1>Start date</h1>
            </div>

            <div>
                <h4>Choose the start date for which the students will be able to send new profile picture for approval

                </h4>
            </div>

                <div class="col-xs-12 top-buffer">
                    <input type="text"
                           class="form-control date border-dotted height-standard side-padding-xs"
                           id="dateFrom"
                           placeholder="From"
                           ng-click="admin.dateFrom=true"
                           datepicker-popup="{{admin.format}}"
                           ng-model="admin.dtFrom"
                           is-open="admin.dateFrom"
                           datepicker-options="admin.dateOptions"
                           date-disabled="disabled(date, mode)"
                           ng-required="true"
                           close-text="Close">
                </div>
            <button ng-click="admin.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button> <button ng-click="admin.dtFrom && admin.fpControls.slideDown()" ng-class="{'inactive': !admin.dtFrom}" class="button3D buttonSmallFormat top-buffer side-buffer">Next step</button>
        </div>
        <div class="section section3">

            <div class="page-header">
                <h1>End date</h1>
            </div>

            <div>
                <h4>Choose the end date for which the students will be able to send new profile picture for approval

                </h4>
            </div>

            <div class="col-xs-12 top-buffer">
                <input type="text"
                       class="form-control date border-dotted height-standard side-padding-xs"
                       id="dateTo"
                       placeholder="To"
                       ng-click="admin.dateTo=true"
                       datepicker-popup="{{admin.format}}"
                       ng-model="admin.dtTo"
                       is-open="admin.dateTo"
                       datepicker-options="admin.dateOptions"
                       date-disabled="disabled(date, mode)"
                       ng-required="true"
                       close-text="Close">
            </div>
            <button ng-click="admin.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button> <button ng-click="admin.dtTo && admin.submit()"  ng-class="{'inactive': !admin.dtTo}" class="button3D buttonSmallFormat top-buffer side-buffer">Submit</button>
        </div>
    </div>

</div>

