<div ng-controller="AdminController as adminTab" class="side-padding-xl">

    <div id="fpAdmin" full-page options="adminTab.fpOptions" controls="adminTab.fpControls">
        <div class="section section1">

            <div class="page-header">
                <h1>Update period</h1>
            </div>

            <div>
                <h4>Currently set to: <span ng-if="!adminTab.loading">{{adminTab.currentUpdatePeriod}}</span>

                </h4>
            </div>

            <button ng-click="adminTab.fpControls.slideDown()" class="button3D buttonSmallFormat top-buffer">Modify</button>




        </div>
        <div class="section">

            <div class="page-header">
                <h1>Year</h1>
            </div>

            <div>
                <h4>Choose the year for which the students will be able to send new profile picture for approval

                </h4>
            </div>

            <div class="top-buffer col-xs-12"
                    tooltips tooltip-template="Required"
                    tooltips tooltip-side="top"
                    tooltips tooltip-hidden="{{adminTab.yearEntered}}">
                <select class="col-xs-12 border-dotted height-standard bottom-buffer side-padding-xs"
                        id="AcademicYearDropDown"
                        ng-model="adminTab.academicYear"
                        ng-click="adminTab.setYearEntered()">
                    <option value="" selected disabled>Academic year</option>
                    <option ng-repeat="academicYearOption in adminTab.academicYearOptions" value="{{academicYearOption}}">{{academicYearOption}}-{{academicYearOption + 1}}</option>
                </select>
            </div>

            <button ng-click="adminTab.fpControls.slideUp()" class="button3D buttonSmallFormat">Back</button> <button ng-click="adminTab.academicYear && adminTab.fpControls.slideDown()"  ng-class="{'inactive': !adminTab.academicYear}" class="button3D buttonSmallFormat side-buffer">Next step</button>

        </div>
        <div class="section section2">

            <div class="page-header">
                <h1>Start date</h1>
            </div>

            <div>
                <h4>Choose the start date for which the students will be able to send new profile picture for approval

                </h4>
            </div>

                <div class="col-xs-12 top-buffer">
                    <input type="text"
                           placeholder="To"
                           class="form-control date border-dotted height-standard side-padding-xs"
                           datetime-picker="MM/dd/yyyy HH:mm"
                           ng-model="adminTab.dtFrom"
                           ng-click="adminTab.dtFromOpened = true"
                           is-open="adminTab.dtFromOpened">
                </div>
            <button ng-click="adminTab.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button> <button ng-click="adminTab.dtFrom && adminTab.fpControls.slideDown()" ng-class="{'inactive': !adminTab.dtFrom}" class="button3D buttonSmallFormat top-buffer side-buffer">Next step</button>
        </div>
        <div class="section section3">

            <div class="page-header">
                <h1>End date</h1>
            </div>

            <div>
                <h4>Choose the end date for which the students will be able to send new profile picture for approval

                </h4>
            </div>

            <div class="col-xs-12 top-buffer">
                <input type="text"
                       placeholder="To"
                       class="form-control date border-dotted height-standard side-padding-xs"
                       datetime-picker="MM/dd/yyyy HH:mm"
                       ng-model="adminTab.dtTo"
                       ng-click="adminTab.dtToOpened = true"
                       is-open="adminTab.dtToOpened">
            </div>
            <button ng-click="adminTab.fpControls.slideUp()" class="button3D buttonSmallFormat top-buffer">Back</button> <button ng-click="adminTab.dtTo && adminTab.submit()"  ng-class="{'inactive': !adminTab.dtTo}" class="button3D buttonSmallFormat top-buffer side-buffer">Submit</button>
        </div>
    </div>

</div>

