<!--src: http://cssdeck.com/labs/0chmqae2-->

<div class="field" code="13" kb-press="search.find()" id="searchform">
    <input type="text" code="13" kb-press="search.find()" ng-model="search.input" id="searchterm" placeholder="what are you searching for?" />
    <button ng-click="search.find()" type="button" id="search">Find!</button>
</div>

<div class="progressCircularContainer" ng-if="search.searching">
    <md-progress-circular class="center" md-mode="indeterminate" value="..."></md-progress-circular>
</div>