.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

#sideMenuContainer {
  height: 100%;
  float: left; }
  #sideMenuContainer div {
    z-index: 2; }
  #sideMenuContainer a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center; }
  #sideMenuContainer a:first-child {
    margin-top: 20px; }
  #sideMenuContainer a.selected {
    background-color: white; }
  #sideMenuContainer #sideMenuStatic {
    position: relative;
    background-color: #a1325e;
    width: 60px;
    float: left;
    height: 100%;
    box-shadow: 1px 0px 10px #888888; }
    #sideMenuContainer #sideMenuStatic .hamburger {
      width: 25px; }
      #sideMenuContainer #sideMenuStatic .hamburger div {
        transform: scale(0.23);
        margin-left: -13px;
        margin-right: auto;
        display: block;
        width: 25px;
        height: 25px; }
    #sideMenuContainer #sideMenuStatic .goToReviewIcon {
      background-image: url("../../images/icons/review-icon.png");
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center; }
    #sideMenuContainer #sideMenuStatic .logoffIcon {
      background-image: url("../../images/icons/logoff-icon.png");
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center; }
    #sideMenuContainer #sideMenuStatic .adminIcon {
      background-image: url("../../images/icons/settings-icon.png");
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center; }
  #sideMenuContainer .sideNavDrawer {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    padding-left: 60px; }

html, body {
  height: 100%;
  font: 1em 'Montserrat Alternates'; }
  html ul, html li, body ul, body li {
    list-style: none;
    margin: 0;
    padding: 0; }

#main {
  height: 100%;
  width: 100%; }
  #main #ng-view {
    height: 100%;
    overflow: hidden; }
