@import "../base/reset";
@import "../components/buttons";
@import "../components/textboxes";
@import "../components/loading";
@import "../components/containers";

@import "../base/mixins/transitions";
@import "../base/buffers";
@import "../base/paddings";
@import "../base/positioning";
@import "../base/overflows";
@import "../base/sizes";
@import "../base/shapes";

@import "../components/sideNav";
@import "../components/lists";
@import "../base/borders";
@import "../base/animations";
@import "../components/modals";
@import "../components/scrollable";

#ng-view{overflow-y: hidden;}

.fp-tableCell{
  vertical-align: top;
}

.listResults{
   li{
     transition: ease 0.2s;

     &.expanded{
       height:112px;
     }
  }
}