@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);
.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.text-left {
  text-align: left; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.verticalCenter {
  position: relative;
  top: 49%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.atBottom {
  position: absolute;
  bottom: 50px; }

html, body {
  font: 1em 'Montserrat Alternates'; }
  html ul, html li, body ul, body li {
    list-style: none;
    margin: 0;
    padding: 0; }

#main #ng-view {
  overflow: hidden; }

.modal-content {
  height: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding: 0px; }

.button3D {
  background-color: white;
  height: 46px;
  padding: 10px;
  border: 0.25em solid #6A6A6A;
  color: #323232;
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #323232, 2px 2px 0 #323232, 3px 3px 0 #323232, 4px 4px 0 #323232, 5px 5px 0 #323232, 6px 6px 0 #323232, 7px 7px 0 #323232; }
  .button3D:hover {
    top: 3px;
    left: 3px;
    box-shadow: 0.7px 0.7px 0 #323232, 1.4px 1.4px 0 #323232, 2.1px 2.1px 0 #323232, 2.8px 2.8px 0 #323232, 3.5px 3.5px 0 #323232, 4.2px 4.2px 0 #323232, 4.9px 4.9px 0 #323232; }

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 15px 17px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  text-align: center;
  border: 1px;
  margin: 0 30px 0 30px;
  opacity: 0.5;
  transition: 0.4s ease-out; }
  .btn-circle:hover {
    opacity: 1; }

.btn-circle.btn-yes {
  background-color: #47a447;
  float: left; }

.btn-circle.btn-no {
  background-color: #d2322d;
  float: right; }

.container3D {
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 0 #323232, 2px 2px 0 #323232, 3px 3px 0 #323232, 4px 4px 0 #323232, 5px 5px 0 #323232, 6px 6px 0 #323232, 7px 7px 0 #323232;
  text-align: center;
  border: 5px solid #8A0037;
  background-color: #a1325e;
  width: 700px;
  padding-bottom: 32px; }
  .container3D h1, .container3D h2, .container3D h3, .container3D h4, .container3D div > span, .container3D label {
    color: white; }

.container3D-grey {
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 0 #323232, 2px 2px 0 #323232, 3px 3px 0 #323232, 4px 4px 0 #323232, 5px 5px 0 #323232, 6px 6px 0 #323232, 7px 7px 0 #323232;
  text-align: center;
  border: 5px solid #6A6A6A;
  background-color: white; }
  .container3D-grey h1, .container3D-grey h2, .container3D-grey h3, .container3D-grey h4, .container3D-grey div > span, .container3D-grey label {
    color: black; }

.container2D {
  position: relative;
  right: 7%;
  background-color: #a1325e;
  width: 750px;
  padding: 0px;
  color: white; }

.cardHolderComponent {
  position: absolute;
  top: 25%; }

.textContainer {
  padding-right: 30px;
  padding-left: 30px;
  overflow-y: auto; }
