@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);
.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.text-left {
  text-align: left; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.verticalCenter {
  position: relative;
  top: 49%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.atBottom {
  bottom: 0px;
  left: 0px;
  position: absolute; }

.textCenter {
  text-align: center; }

html, body {
  font: 1em 'Montserrat Alternates'; }
  html ul, html li, body ul, body li {
    list-style: none;
    margin: 0;
    padding: 0; }

#ng-view {
  overflow: auto; }

.modal-content {
  height: 0px; }

h2 {
  margin-top: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding: 0px; }

.button3D {
  background-color: white;
  height: 46px;
  padding: 10px;
  border: 0.25em solid #6A6A6A;
  color: #323232;
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #323232, 2px 2px 0 #323232, 3px 3px 0 #323232, 4px 4px 0 #323232, 5px 5px 0 #323232, 6px 6px 0 #323232, 7px 7px 0 #323232; }
  .button3D:not(.nohover):hover {
    top: 3px;
    left: 3px;
    box-shadow: 0.7px 0.7px 0 #323232, 1.4px 1.4px 0 #323232, 2.1px 2.1px 0 #323232, 2.8px 2.8px 0 #323232, 3.5px 3.5px 0 #323232, 4.2px 4.2px 0 #323232, 4.9px 4.9px 0 #323232; }

.button3D-noformat {
  background-color: white;
  padding: 10px;
  border: 0.25em solid #6A6A6A;
  color: #323232;
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #323232, 2px 2px 0 #323232, 3px 3px 0 #323232, 4px 4px 0 #323232, 5px 5px 0 #323232, 6px 6px 0 #323232, 7px 7px 0 #323232; }
  .button3D-noformat:not(.nohover):hover {
    top: 3px;
    left: 3px;
    box-shadow: 0.7px 0.7px 0 #323232, 1.4px 1.4px 0 #323232, 2.1px 2.1px 0 #323232, 2.8px 2.8px 0 #323232, 3.5px 3.5px 0 #323232, 4.2px 4.2px 0 #323232, 4.9px 4.9px 0 #323232; }

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 15px 17px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  text-align: center;
  border: 1px;
  margin: 0 50px 0 50px;
  opacity: 0.9; }
  .btn-circle.btn-yes {
    background-color: #47a447;
    float: left; }
    .btn-circle.btn-yes.greyed-out {
      background-color: grey; }
  .btn-circle.btn-no {
    background-color: #d2322d;
    float: right; }
    .btn-circle.btn-no.greyed-out {
      background-color: grey; }

.top-buffer-sm {
  margin-top: 20px; }

.no-top-buffer {
  margin-top: 0px; }

.top-buffer {
  margin-top: 30px; }

.bottom-buffer {
  margin-bottom: 30px; }

.all-side-margin-sm {
  margin: 20px; }

.left-buffer-sm {
  marin-left: 20px; }

.left-buffer-sm {
  marin-left: 20px; }

.container2D {
  background-color: #a1325e;
  width: 800px;
  padding: 0px;
  color: white; }

.container2D-xl {
  background-color: #a1325e;
  width: 900px;
  padding: 0px;
  color: white; }

.cardHolderComponent {
  position: absolute;
  top: 25%; }

.datepicker-container {
  margin-bottom: 80px;
  padding-left: 70px; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.overlay {
  background-color: rgba(0, 0, 0, 0.8); }

.light-overlay {
  background-color: rgba(255, 255, 255, 0.5); }

.top-buffer-sm {
  margin-top: 20px; }

.no-top-buffer {
  margin-top: 0px; }

.top-buffer {
  margin-top: 30px; }

.bottom-buffer {
  margin-bottom: 30px; }

.all-side-margin-sm {
  margin: 20px; }

.left-buffer-sm {
  marin-left: 20px; }

.left-buffer-sm {
  marin-left: 20px; }

.side-padding {
  padding-left: 30px;
  padding-right: 30px; }

.no-padding {
  padding: 0px; }

.all-side-padding-xs {
  padding: 10px; }

.all-side-padding-sm {
  padding: 20px; }

.all-side-padding {
  padding: 30px; }

.top-padding {
  padding-top: 30px; }

.bottom-padding {
  padding-bottom: 30px; }

.bottom-padding-sm {
  padding-bottom: 20px; }

.bottom-padding-xs {
  padding-bottom: 10px; }

.top-bottom-padding-sm {
  padding-top: 20px;
  padding-bottom: 20px; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.verticalCenter {
  position: relative;
  top: 49%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.atBottom {
  bottom: 0px;
  left: 0px;
  position: absolute; }

.textCenter {
  text-align: center; }

#loginContainer {
  background: url("../../images/concordia_bg.jpg");
  background-position-y: bottom; }
  #loginContainer h1 {
    border-color: black; }
