@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);
.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.height-standard {
  height: 46px; }

.height-xl {
  height: 200px; }

.text-left {
  text-align: left; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.verticalCenter {
  position: relative;
  top: 49%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.atBottom {
  bottom: 0px;
  left: 0px;
  position: absolute; }

.textCenter {
  text-align: center; }

.textLeft {
  text-align: left; }

.btn-admin-submit-center {
  margin-left: 420px; }

html, body {
  font: 1em 'Montserrat Alternates'; }
  html ul, html li, body ul, body li {
    list-style: none;
    margin: 0;
    padding: 0; }

#ng-view {
  overflow: auto; }

.modal-content {
  height: 0px; }

h2 {
  margin-top: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding: 0px; }

input, button, select, textarea {
  outline: none; }

md-toast {
  z-index: 10000; }

*::-webkit-scrollbar {
  width: 0.5em; }

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

.button3D {
  background-color: white;
  height: 46px;
  padding: 10px;
  border: 0.25em solid #6A6A6A;
  color: #323232;
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #323232, 2px 2px 0 #323232, 3px 3px 0 #323232, 4px 4px 0 #323232, 5px 5px 0 #323232, 6px 6px 0 #323232, 7px 7px 0 #323232; }
  .button3D:not(.nohover):hover {
    top: 3px;
    left: 3px;
    box-shadow: 0.7px 0.7px 0 #323232, 1.4px 1.4px 0 #323232, 2.1px 2.1px 0 #323232, 2.8px 2.8px 0 #323232, 3.5px 3.5px 0 #323232, 4.2px 4.2px 0 #323232, 4.9px 4.9px 0 #323232; }
  .button3D.inactive {
    background-color: dimgray; }
    .button3D.inactive:not(.nohover):hover {
      top: 0px;
      left: 0px;
      box-shadow: 1px 1px 0 #323232, 2px 2px 0 #323232, 3px 3px 0 #323232, 4px 4px 0 #323232, 5px 5px 0 #323232, 6px 6px 0 #323232, 7px 7px 0 #323232; }
  .button3D.purple {
    border: 0.2em solid #8A0037;
    background-color: #8A0037;
    color: white;
    position: relative;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #600026, 2px 2px 0 #600026, 3px 3px 0 #600026, 4px 4px 0 #600026, 5px 5px 0 #600026, 6px 6px 0 #600026, 7px 7px 0 #600026; }
    .button3D.purple:not(.nohover):hover {
      top: 3px;
      left: 3px;
      box-shadow: 0.7px 0.7px 0 #600026, 1.4px 1.4px 0 #600026, 2.1px 2.1px 0 #600026, 2.8px 2.8px 0 #600026, 3.5px 3.5px 0 #600026, 4.2px 4.2px 0 #600026, 4.9px 4.9px 0 #600026; }

.buttonSmallFormat {
  width: 140px; }

.button3D-noformat {
  background-color: white;
  padding: 10px;
  border: 0.25em solid #6A6A6A;
  color: #323232;
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #323232, 2px 2px 0 #323232, 3px 3px 0 #323232, 4px 4px 0 #323232, 5px 5px 0 #323232, 6px 6px 0 #323232, 7px 7px 0 #323232; }
  .button3D-noformat:not(.nohover):hover {
    top: 3px;
    left: 3px;
    box-shadow: 0.7px 0.7px 0 #323232, 1.4px 1.4px 0 #323232, 2.1px 2.1px 0 #323232, 2.8px 2.8px 0 #323232, 3.5px 3.5px 0 #323232, 4.2px 4.2px 0 #323232, 4.9px 4.9px 0 #323232; }

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 15px 17px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  text-align: center;
  border: 1px;
  margin: 0 50px 0 50px;
  opacity: 0.9; }
  .btn-circle.btn-yes {
    background-color: #47a447;
    float: left; }
    .btn-circle.btn-yes.greyed-out {
      background-color: grey; }
  .btn-circle.btn-no {
    background-color: #d2322d;
    float: right; }
    .btn-circle.btn-no.greyed-out {
      background-color: grey; }

.americanPieBox {
  text-align: center; }
  .americanPieBox span {
    border-radius: 3px;
    display: inline-block;
    font-size: 40px; }
    .americanPieBox span.revoked {
      background-color: rgba(255, 0, 0, 0.1);
      border: 3px solid #d2322d;
      color: #d2322d;
      transform: rotate(7deg);
      -ms-transform: rotate(7deg);
      /* IE 9 */
      -webkit-transform: rotate(7deg);
      /* Chrome, Safari, Opera */ }
    .americanPieBox span.validated {
      background-color: rgba(0, 255, 0, 0.1);
      border: 3px solid #47a447;
      color: #47a447;
      transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
      /* IE 9 */
      -webkit-transform: rotate(-7deg);
      /* Chrome, Safari, Opera */ }
    .americanPieBox span.redClickable {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.3);
      border: 3px solid #d2322d;
      color: #d2322d; }

.progressCircularContainer {
  text-align: center;
  top: 60px;
  position: relative; }

.top-buffer-sm {
  margin-top: 20px; }

.no-top-buffer {
  margin-top: 0px; }

.top-buffer {
  margin-top: 30px; }

.top-buffer-lg {
  margin-top: 40px; }

.top-buffer-xl {
  margin-top: 50px; }

.side-buffer-xs-inverse {
  margin-left: -10px;
  margin-right: -10px; }

.side-buffer-sm {
  margin-left: 20px;
  margin-right: 20px; }

.side-buffer {
  margin-left: 30px;
  margin-right: 30px; }

.bottom-buffer-sm {
  margin-bottom: 20px; }

.bottom-buffer {
  margin-bottom: 30px; }

.bottom-buffer-xl {
  margin-bottom: 50px; }

.all-side-margin-sm {
  margin: 20px; }

.left-buffer-sm {
  marin-left: 20px; }

.left-buffer-sm {
  marin-left: 20px; }

.container2D {
  background-color: #a1325e;
  width: 800px;
  padding: 0px;
  color: white; }

.container2D-xl {
  background-color: #a1325e;
  width: 900px;
  padding: 0px;
  color: white; }

.cardHolderComponent {
  position: absolute;
  top: 25%; }

.datepicker-container {
  margin-bottom: 80px;
  padding-left: 70px; }

.top-buffer-sm {
  margin-top: 20px; }

.no-top-buffer {
  margin-top: 0px; }

.top-buffer {
  margin-top: 30px; }

.top-buffer-lg {
  margin-top: 40px; }

.top-buffer-xl {
  margin-top: 50px; }

.side-buffer-xs-inverse {
  margin-left: -10px;
  margin-right: -10px; }

.side-buffer-sm {
  margin-left: 20px;
  margin-right: 20px; }

.side-buffer {
  margin-left: 30px;
  margin-right: 30px; }

.bottom-buffer-sm {
  margin-bottom: 20px; }

.bottom-buffer {
  margin-bottom: 30px; }

.bottom-buffer-xl {
  margin-bottom: 50px; }

.all-side-margin-sm {
  margin: 20px; }

.left-buffer-sm {
  marin-left: 20px; }

.left-buffer-sm {
  marin-left: 20px; }

.side-padding-xs {
  padding-left: 10px;
  padding-right: 10px; }

.side-padding {
  padding-left: 30px;
  padding-right: 30px; }

.side-padding-xl {
  padding-left: 50px;
  padding-right: 50px; }

.no-padding {
  padding: 0px; }

.all-side-padding-xs {
  padding: 10px; }

.all-side-padding-sm {
  padding: 20px; }

.all-side-padding {
  padding: 30px; }

.top-padding {
  padding-top: 30px; }

.bottom-padding {
  padding-bottom: 30px; }

.bottom-padding-sm {
  padding-bottom: 20px; }

.bottom-padding-xs {
  padding-bottom: 10px; }

.top-bottom-padding-sm {
  padding-top: 20px;
  padding-bottom: 20px; }

.overflow-auto {
  overflow: auto; }

.overflow-y-auto {
  overflow-y: auto; }

.overflow-hidden {
  overflow: hidden; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.height-standard {
  height: 46px; }

.height-xl {
  height: 200px; }

.triangle {
  width: 0;
  height: 0;
  border-bottom: 375px solid #a1325e;
  border-right: 28px solid transparent;
  position: absolute;
  right: 372px;
  z-index: 2; }

#sideMenuContainer {
  height: 100%;
  float: left; }
  #sideMenuContainer div {
    z-index: 2; }
  #sideMenuContainer a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #323232;
    height: 60px;
    line-height: 60px;
    text-align: center; }
  #sideMenuContainer a:first-child {
    margin-top: 20px; }
  #sideMenuContainer a.selected {
    background-color: white; }
  #sideMenuContainer #sideMenuStatic {
    position: relative;
    background-color: #a1325e;
    width: 60px;
    float: left;
    height: 100%;
    box-shadow: 1px 0px 10px #888888; }
    #sideMenuContainer #sideMenuStatic .hamburger {
      width: 25px; }
      #sideMenuContainer #sideMenuStatic .hamburger div {
        transform: scale(0.23);
        margin-left: -13px;
        margin-right: auto;
        display: block;
        width: 25px;
        height: 25px; }
    #sideMenuContainer #sideMenuStatic .goToReviewIcon {
      background-image: url("../../images/icons/review-icon.png");
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center; }
    #sideMenuContainer #sideMenuStatic .logoffIcon {
      background-image: url("../../images/icons/logoff-icon.png");
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center; }
    #sideMenuContainer #sideMenuStatic .adminIcon {
      background-image: url("../../images/icons/settings-icon.png");
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center; }
    #sideMenuContainer #sideMenuStatic .eventIcon {
      background-image: url("../../images/icons/event-icon.png");
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center; }
  #sideMenuContainer .sideNavDrawer {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    padding-left: 60px; }

#searchBoxContainer .field {
  display: flex;
  flex-direction: row;
  border: 0.2em solid #8A0037;
  position: relative;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #600026, 2px 2px 0 #600026, 3px 3px 0 #600026, 4px 4px 0 #600026, 5px 5px 0 #600026, 6px 6px 0 #600026, 7px 7px 0 #600026; }
  #searchBoxContainer .field:not(.nohover):hover {
    top: 3px;
    left: 3px;
    box-shadow: 0.7px 0.7px 0 #600026, 1.4px 1.4px 0 #600026, 2.1px 2.1px 0 #600026, 2.8px 2.8px 0 #600026, 3.5px 3.5px 0 #600026, 4.2px 4.2px 0 #600026, 4.9px 4.9px 0 #600026; }
  #searchBoxContainer .field input[type=text],
  #searchBoxContainer .field button {
    display: block; }
  #searchBoxContainer .field input[type=text] {
    flex: 1;
    padding: 0.6em; }
  #searchBoxContainer .field button {
    border: 0px;
    border-left: 0.2em solid #8A0037;
    padding: 0.6em 0.8em;
    background-color: #8A0037;
    color: white; }

.listResults div span {
  margin-right: 8px; }

.app-modal-window .modal-dialog {
  width: 800px; }

.app-modal-window-xl .modal-dialog {
  width: 900px; }

.validationModal {
  color: white;
  height: 400px; }
  .validationModal .cardHolder {
    height: 400px; }
  .validationModal .commentBox textarea {
    height: 100px;
    resize: none;
    color: black; }
  .validationModal .yesnoContainer {
    position: relative;
    bottom: 80px; }

.validationModal-xl {
  color: white;
  height: 450px; }
  .validationModal-xl .cardHolder {
    height: 450px; }
  .validationModal-xl .commentBox textarea {
    height: 100px;
    resize: none;
    color: black; }
  .validationModal-xl .yesnoContainer {
    position: relative;
    bottom: 80px; }

#gallery li {
  display: inline-block; }

#gallery ul {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  height: 112px; }

#gallery .thumbnail {
  padding: 10px 10px 10px 0px;
  height: 112px;
  border: 0px;
  background-color: transparent; }

#gallery .large {
  width: 405px; }

#gallery .mainimageshell {
  display: none;
  background-color: #fff;
  border-radius: 8px;
  float: left;
  width: 400px;
  padding: 10px; }

#gallery .viewwindow {
  width: 400px;
  height: 307px;
  overflow-x: hidden;
  position: relative; }

#gallery .fullsizelist {
  position: absolute;
  top: 0;
  left: 0;
  transition: left .8s ease;
  -ms-transition: left .8s ease;
  -o-transition: left .8s ease;
  -webkit-transition: left .8s ease;
  -moz-transition: left .8s ease; }

#gallery .bg {
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  float: left; }

#gallery .thumbsshell {
  margin-top: 6px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px; }

#gallery .thumbswrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%; }

#gallery .thumbwrapper {
  float: left; }

#gallery .captionshell {
  margin: 0 0 10px 5px;
  background-color: #fff;
  width: 175px;
  height: 324px;
  padding: 0 10px;
  border-radius: 8px;
  float: left; }

#gallery img {
  height: 112px;
  margin-right: 10px;
  padding: 0px; }

#viewport.middle {
  top: 28%; }

#viewport {
  transition: 0.4s ease-out;
  position: relative;
  top: -88px;
  overflow: visible; }
