@import "../base/reset";
@import "../components/buttons";
@import "../components/textboxes";
@import "../components/loading";

@import "../base/mixins/transitions";
@import "../base/mixins/fill";

@import "../components/sideNav";
@import "../components/searchBox";
@import "../components/searchResults";
@import "../components/studentModal";
@import "../components/imageModal";
@import "../components/gallery";


#viewport.middle{
        top:40%;
    }

#viewport{
  @include fill();
  @include transition();
  position: relative;
  top:0%;
  overflow: auto;
  background-color: $concordia-background-color;
}

.view1Component{
  margin:20px auto 10px auto;
  width:92%;
}

.progressCircularContainer{
  margin:40px auto 10px auto;
  width:100%;
}