@import "../base/reset";
@import "../components/buttons";
@import "../components/textboxes";
@import "../components/loading";
@import "../components/containers";

@import "../base/mixins/transitions";
@import "../base/buffers";
@import "../base/sizes";

@import "../components/sideNav";
@import "../components/searchBox";
@import "../components/searchResults";
@import "../components/modals";
@import "../components/gallery";


#viewport.middle{
        top:28%;
    }

#viewport{
  @include transition();
  position: relative;
  top:-88px;
  overflow: visible;
}
