<!--src: http://cssdeck.com/labs/0chmqae2-->
<link rel="stylesheet" type="text/css" href="css/searchResults.css">

<div class="view1Component">
    <li id="searchResults" ng-controller="SearchResultsCtrl">
        <ul ng-repeat="result in results" ng-click="studentClick(result)" data-toggle="modal" data-target="#myModal">
            <div>
                <span>{{result.id}},</span>

                <span>{{result.firstname}}</span>
                <span>{{result.lastname}},</span>

                <span>{{result.netname}},</span>

                <span>{{result.birthdate.day}}</span>
                <span>{{result.birthdate.month}}</span>
                <span>{{result.birthdate.year}}</span>
            </div>
        </ul>
    </li>
</div>