
/* app css stylesheet */


$button3D-border-color: #6A6A6A;
$button3D-shadow-color: #323232;

@import "utilities";


html, body{
  height: 100%;
}

#main {
  height:100%;

  
  .mainComponent {
    height: 100%;
  }
  #ng-view{
    overflow:hidden;
    width:auto;
  }

}


.button3D{
  @include make-button-3d($button3D-border-color, $button3D-shadow-color);
}


