<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" ng-controller="MainCtrl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" ng-controller="MainCtrl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" ng-controller="MainCtrl" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" ng-controller="MainCtrl" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/css/app.css">


    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->

    <!--BOWER COMPONENTS-->
    <link rel="stylesheet" href="~/lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="~/lib/html5-boilerplate/dist/css/main.css">
    <script src="~/lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" type="text/css" href="~/lib/ng-swippy/ngswippy.css">
    <script src="~/lib/ng-swippy/ng-swippy.js"></script>
    <script src="~/lib/angular-css/angular-css.js"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <script class="cssdeck" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/angular-hamburger-toggle/dist/angular-hamburger-toggle.css">
    <script src="~/lib/angular-hamburger-toggle/dist/angular-hamburger-toggle.js"></script>

    <!--CONTROLLERS-->
    <script src="~/js/app.js"></script>
    <script src="~/js/view1.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/searchModal.js"></script>
    <script src="~/js/gallery/gallery.js"></script>
    <script src="~/js/searchBox.js"></script>
    <script src="~/js/version.js"></script>


    <!--<script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>-->




</head>
<body>
<!--http://www.w3schools.com/howto/howto_js_sidenav.asp-->
<div id="mySidenav" class="sidenav">
    <!--<a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>-->
    <a ng-click="toggleNav()">Close</a>
    <a href="#!/view1" ng-click="closeNav()">Review</a>
    <a href="#!/login" ng-click="closeNav()">Validate</a>
</div>

<div id="myModal" class="modal fade" role="dialog" ng-include="'app/partials/searchModal/searchModal.html'"></div>
<div id="imageModal" class="modal fade" role="dialog" ng-controller="GalleryCtrl" ng-include="'app/partials/searchModal/gallery/imageModal/imageModal.html'"></div>

<div id="main" class="row">
    <div id="sideMenuStatic" class="mainComponent">
        <div>
            <hamburger-toggle id="hamburger" ng-click="toggleNav()" state="hamState"></hamburger-toggle>
            <a id="goToReviewIcon" href="#!/view1" ng-click="closeNav()"></a>
            <a id="goToValidateIcon" href="#!/login" ng-click="closeNav()"></a>
        </div>
    </div>

    <div id="ng-view" class="mainComponent" ng-view></div>
</div>

</body>
</html>
