@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);

$button3D-border-color: #6A6A6A;
$button3D-shadow-color: #323232;
$concordia-color: #8A0037;

@mixin center(){
  display:block;
  margin-left: auto;
  margin-right: auto;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin make-button-3d($button3D-border-color: #6A6A6A, $button3D-shadow-color: #323232){
    position:relative;
    height: 46px;
    padding: 0px;
    margin: 20px 0px 10px 0px;
    background-color: white;
    border: 0.25em solid $button3D-border-color;
    box-shadow: 1px 1px 0 $button3D-shadow-color, 2px 2px 0 $button3D-shadow-color, 3px 3px 0 $button3D-shadow-color, 4px 4px 0 $button3D-shadow-color, 5px 5px 0 $button3D-shadow-color, 6px 6px 0 $button3D-shadow-color, 7px 7px 0 $button3D-shadow-color;

    &:hover {
        top:3px;
        left:3px;
        box-shadow: 0.7px 0.7px 0 $button3D-shadow-color, 1.4px 1.4px 0 $button3D-shadow-color, 2.1px 2.1px 0 $button3D-shadow-color, 2.8px 2.8px 0 $button3D-shadow-color, 3.5px 3.5px 0 $button3D-shadow-color, 4.2px 4.2px 0 $button3D-shadow-color, 4.9px 4.9px 0 $button3D-shadow-color;
    }
}