@import "../base/reset";
@import "../components/buttons";
@import "../base/buffers";
@import "../base/positioning";

.cam-container {
  height: 100%;
  background-color: #8A0037;
  font-size: 150%;
  font-weight: bold;
}

