@import "../base/positioning";
@import "../base/sizes";

$drawer-width: 70%;

drawer{
  width: $drawer-width;
  left:-1px;
}

.drawerOverlay{
  width: 500%;
  background-color: rgba(0,0,0,0.5);
  left: 100%;
}

.bar.bar-header {
  background: rgba(255,255,255,.10);
  border-bottom-width: 0;
}

.bar.bar-header h1 {
  color: black !important;
}

.scroll-content {
  overflow: visible !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header {
  top:0px;
}
