.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.verticalCenter {
  position: relative;
  top: 49%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.atBottom {
  position: absolute;
  bottom: 50px; }

.textCenter {
  text-align: center; }

.absolutePos {
  position: absolute; }

.relativePos {
  position: relative; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

drawer {
  width: 70%;
  left: -1px; }

.drawerOverlay {
  width: 500%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 100%; }

ion-header-bar {
  box-shadow: 1px 2px 30px black; }
