.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.verticalCenter {
  position: relative;
  top: 49%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.atBottom {
  position: absolute;
  bottom: 50px; }

.textCenter {
  text-align: center; }

.absolutePos {
  position: absolute; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

drawer {
  width: 70%; }

.drawerOverlay {
  width: 500%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 100%; }
