@import "../base/_reset";
@import "../base/_colors";
@import "../components/_buttons";
@import "../base/mixins/_verticalCenter";
@import "../components/_containers";

#loginpage {
  background-color: #8A0037;
  position: relative;
  height:100%;
}

#loginbutton {
  position: absolute;
  bottom: 0;
}
