@import "../base/reset";
@import "../base/colors";
@import "../components/buttons";
@import "../base/buffers";
@import "../base/mixins/verticalCenter";
@import "../components/containers";

#loginpage {
  background-color: #8A0037;
  position: relative;
  height:100%;
}


ion-header-bar{
  height:0%;
}

img{
  margin-top: -5%;
}
