@import "../base/colors";
@import "../base/variables";
@import "../base/mixins/make3D";

$commentBoxHeight: 100px;

#studentModal {

    #cardContainer{
        height: $modal-picture-width;
    }
    color:white;
    height: $modal-picture-width;

    #commentBox {
        margin-top:106px;
        input {
            height: $commentBoxHeight;
        }
    }


    .yesnoContainer {
        position:relative;
        bottom: $btn-yesno-height + $profile-picture-frame-width;
    }


}


#imageModal{
    @include angular-bootstrap-modal-fix();
    width:400px;
    padding:5px;
    img{
        @include center();
    }
}
