@import "../base/colors";
@import "../base/variables";
@import "../base/mixins/make3D";

#studentModal {
    min-width: 650px;
    .modal-element {
        #galleryContainer {
            max-height: 200px;
            @include make-button-3d($border-radius-container, darkgray);
            border: $profile-picture-frame-width solid lightgray;
        }
    }

    #cardHolder {

        .cardHolderComponent{
            position:absolute;
            top: 25%;
        }
    }

    .yesnoContainer {
        position:relative;
        bottom: $btn-yesno-height + $profile-picture-frame-width;
    }

    .squareBackground{
        background: white;
        @include make-button-3d($border-radius-container, darkgray);
        border: $profile-picture-frame-width solid lightgray;
        position: relative;
        height: 0;
        padding-bottom: 93%;
        border-radius: 10px;
    }

    .thumbswrapper{
        background-color:white;
    }
}



#imageModal{
    img{
        @include center();
        max-width: 100%;
    }
}
