@import "../base/colors";
@import "../base/variables";
@import "../base/mixins/horizontalCenter";
@import "../base/mixins/background";

#sideMenuContainer{

    height: 100%;
    float: left;

    div{
        z-index:2;
    }

  a{
    @include center();
    display:block;
    height: $sideNav-width;
    line-height:$sideNav-width;
    text-align: center;
  }

  a:first-child{
    margin-top:20px;
  }

  a.selected{
    background-color: white;
  }

#sideMenuStatic {
    position:relative;
    background-color: $concordia-background-color;
    width: $sideNav-width;
    float:left;
    height:100%;
    box-shadow: 1px 0px 10px #888888;

    .hamburger{
      width: $sideNav-icon-size;

      div{
        transform: scale(0.23);
        margin-left: -13px;
        margin-right: auto;
        display:block;
        width: $sideNav-icon-size;
        height: $sideNav-icon-size;
      }
    }

    .goToReviewIcon{
      @include setBackground($review-icon, $sideNav-icon-size);
    }

    .logoffIcon{
      @include setBackground($logoff-icon, $sideNav-icon-size);
    }

    .adminIcon{
      @include setBackground($admin-icon, $sideNav-icon-size);
    }
  }


.sideNavDrawer{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background-color: $sideNav-color;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding-left: $sideNav-width;
}

}