<ion-view>
  <ion-content>

    <div>
      <h1>Event Details</h1>

      <p>Name: {{bc.eventData.information.name}}</p>
      <p>Description: {{bc.eventData.information.description}}</p>
      <p>Location: {{bc.eventData.information.location}}</p>
      <p>Room: {{bc.eventData.information.room}}</p>
      <p>Start time: {{bc.eventData.information.timeBegin}}</p>
      <p>End time: {{bc.eventData.information.timeEnd}}</p>
      <p>Type: {{bc.eventData.information.type}}</p>
      <p>Status: {{bc.eventData.information.status}}</p>
      <br><br>

      <button ng-if="bc.eventData.userRole == 'Mod'" ng-click="bc.scanBarcode()">SCAN</button>
      <br><br>

      <div ng-if="bc.eventData.userRole == 'Mod' && bc.scanData.length == 0 ">
        You are registered as a moderator for this event. Press the scan button to begin registering attendees.
      </div>

      <div ng-if="bc.eventData.userRole == 'Mod' && bc.scanData.length > 0">
        <p>Barcode ID: {{bc.barcodeID}}</p>
        <p>Response: {{bc.responseMsg}}</p>
      </div>


    </div>

    </div>

  </ion-content>
</ion-view>
