<ion-view view-title="Browse">
  <ion-content class="cam-container side-padding-sm"  scroll=false>


      <ul class="top-buffer-lg">
        <li><div><span>{{"cam_instruct_1" | translate}}</span></div></li>
        <li><div><span>{{"cam_instruct_2" | translate}}</span></div></li>
        <li><div><span>{{"cam_instruct_3" | translate}}</span></div></li>
        <li><div><span>{{"cam_instruct_4" | translate}}</span></div></li>
      </ul>

    <hr class="top-buffer-sm" style="background-color:white;">

      <div id="cameraActions" class="col col-100 no-padding top-buffer-sm textCenter">


        <button ng-click="camCtrl.takePicture()" class="button button-light right-buffer-xs">
          <i class="icon ion-ios-camera"></i>
        </button>
        <button ng-click="camCtrl.loadPicture()" class="button button-light left-buffer-xs">
          <i class="icon ion-images"></i>
        </button>
      </div>
  </ion-content>
</ion-view>
