<ion-view view-title="Browse">
  <ion-content ng-controller="CameraCtrl">

    <div class = "cam-container">

      <img id="mySpinner" src="img/spinner.gif" ng-show="showUploadSpinnerGif" />

      <div class = "pic-box" width="200" height="200">
        <img ng-src="{{pictureUrl}}">
      </div>

      <div class = "list card">
        <div href="#" class="item item-icon-left" ng-hide="hideTakePictureButton" ng-click="takePicture()">
          <i class="icon ion-ios-camera"></i>
          {{takePictureButtonText}}
        </div>
        <div href="#" class="item item-icon-left" ng-hide="hideLoadPictureButton" ng-click="loadPicture()">
          <i class="icon ion-images"></i>
          Load Picture
        </div>
        <div href="#" class="item item-icon-left" ng-hide="hideSendPictureButton" ng-click="sendPicture()">
          <i class="icon ion-android-send"></i>
          Send Picture
        </div>
      </div>
    </div>
    <div class="loadPictureButton">
        {{description}}
    </div>
  </ion-content>
</ion-view>
