<ion-view view-title="Search">
  <ion-content ng-controller="IdCtrl">

    <!-- template used if for portrait -->
    <div ng-if="screenOrientation == 'portrait-primary'">
      <h1>PORTRAIT VIEW</h1>
      <h2>CONCORDIA LOGO</h2>

      <img ng-src="data:image/PNG;base64,{{profilepicture}}"width = "200" height = "200">
      <p>{{firstname}}</p>
      <p>{{lastname}}</p>
      <p>{{dob}}</p>
      <p>{{id}}</p>
      <p>{{ugradstatus}}</p>
      <p>{{expiredate}}</p>
      <p>BARCODE</p>
    </div>

    <!-- template used if for landscape -->
    <div ng-if="screenOrientation == 'landscape-secondary' || screenOrientation == 'landscape-primary'">
      <h1>LANDSCAPE VIEW</h1>
      <h2>CONCORDIA LOGO</h2>

      <img ng-src="data:image/PNG;base64,{{profilepicture}}" width = "200" height = "200">
      <p>{{firstname}}</p>
      <p>{{lastname}}</p>
      <p>{{dob}}</p>
      <p>{{id}}</p>
      <p>{{ugradstatus}}</p>
      <p>{{expiredate}}</p>
      <p>BARCODE</p>
    </div>
  </ion-content>
</ion-view>
