<ion-view >
  <ion-content ng-controller="IdCtrl">

    <div class="overseeing">
      <!-- template used if for portrait -->
      <div ng-if="screenOrientation == 'portrait-primary'" class="vertical">

        <div class="main_content">
          <!-- display picture if it's there. Otherwise, display pending approval picture.-->
          <div class="picture">
            <div ng-if="valid == true">
             <img ng-src="data:image/PNG;base64,{{profilepicture}}"width = "200" height = "200">
            </div>
            <div ng-if="valid == false">
              <img src="img/pending_approval.jpg" width = "200" height = "200">
            </div>
          </div>

          <div class="student_info">
            <p>{{firstname}}firstname</p>
            <p>{{lastname}}lastname</p>
            <p>{{dob}}December 25</p>
            <p>{{id}} 99999999</p>
          </div>
        </div>

          <div class="footer">
            <p>{{ugradstatus}}</p>
            <p>{{expiredate}}</p>
          </div>

          <div class="barcode">
            <img src="img/barcode.png">
          </div>
      </div>

        <!-- template used if for landscape -->
        <div ng-if="screenOrientation == 'landscape-secondary' || screenOrientation == 'landscape-primary'" class="horizontal">
          <div class="left">
            <div class="main_content">
              <div class="picture">
                <!-- display picture if it's there. Otherwise, display pending approval picture.-->
                <div ng-if="valid == true">
                  <img ng-src="data:image/PNG;base64,{{profilepicture}}"width = "200" height = "200">
                </div>
                <div ng-if="valid == false">
                  <img src="img/pending_approval.jpg" width = "200" height = "200">
                </div>
              </div>

              <div class="student_info">
                <p>{{firstname}}firstname</p>
                <p>{{lastname}}lastname</p>
                <p>{{dob}}December 25</p>
                <p>{{id}}99999999</p>
              </div>
            </div>
            <div class="footer">
              <p>{{ugradstatus}}</p>
              <p>{{expiredate}}</p>
            </div>
          </div>
          <div class="barcode">
            <img src="img/barcode_horizontal.png">
          </div>

        </div>

    </div>
  </ion-content>
</ion-view>
