<ion-modal-view>
  <ion-header-bar>
    <!--<h1 class="title">Login</h1>-->
    <!--<div class="buttons">-->
    <!--<button class="button button-clear" ng-click="closeLogin()">Close</button>-->
    <!--</div>-->
  </ion-header-bar>
  <ion-content>
    <div id = "loginpage">

      <div>
        <img src="img/concordia_ev_pic.png" alt="Concordia ev pic" width = "100%" height = "45%">
      </div>

      <div id="lowerPart">
        <img  src="img/concordia_logo.jpg" alt="Concordia ev pic" width = "100%" >


        <button id = "loginbutton" class="button button-block button-positive" ng-click="logIn()">LOGIN</button>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
